/rhythmic/songs
/rhythmic/separatedAudio
/rhythmic/separated/htdemucs_ft
/rhythmic/separated/htdemucs_ft
/rhythmic/separatedInstruments
/rhythmic/separated/htdemucs_ft
/rhythmic/generatedNotes
/rhythmic/generatedMusicSheets
/rhythmic/media/music_sheets
